body{
	background-image: url("../img/gameshow.jpg");
	background-size: cover;
}

h1{
	font-family: 'Pacifico', cursive;
	color: #FFD700;
}

#runSearch{
	color: #191970 ;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #66CDAA;
}

#wheel{
	height: 600px;
	transition: 1s ease-in-out;
}

.window,
h1,
form{
	text-align: center;
}

#displayBox{
	color: #66CDAA;
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 20px;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	height: 200px;
	border: 1px solid #07c;
	border-radius: 10px;
	box-shadow: 0 0 10px #07c;
	font-family: 'Patua One', cursive;
}

