body{
	background-color: tomato;
}

h1{
	font-family: 'Pacifico', cursive;
	color: white;
}

#runSearch{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: lightblue;
}

#wheel{
	height: 600px;
	transition: 1s ease-in-out;
}

.window,
h1,
form{
	text-align: center;
}

#displayBox{
	color: white;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	line-height: 20px;
	padding-left: 150px;
	padding-right: 150px;
}

